<h1>PortfolioStocks#index</h1>
<p>Find me in app/views/portfolio_stocks/index.html.erb</p>

<div class = "container">
  <section class = "row row-cols-1 row-cols-md-3 row-cols-sm-2 row-cols-lg-4 g-4">
    <% @portfolio_stocks.each do |stock| %>
        <div class = "col">
            <div class="card h-100 w-100 my-3">
        
                <%= stock.stock_symbol %> 
                <%= stock.current_stock_valuation %>
                <%= stock.total_quantity %>
                <%= stock.total_value%>

                <%= link_to 'Show', portfolio_stock_path(stock.id) %>
            </div>
        </div>
    <% end %>
</div>
