<%= form_with scope: :user, url: confirm_withdraw_balance_path(@user), method: :patch do |form| %>
  <% if @user.errors.any? %>
    <% @user.errors.each do |error| %>

      <div class="container">
        <div class="alert alert-danger alert-dismissible fade show mx-auto col-10 text-center mb-1 mt-4" role="alert">
          <%= error.full_message %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
    
    <% end %>
  <% end %>

  <div class ="container">
    <section class = "col-8 mx-auto">
      <div class = "card rounded-3 mt-5">
        <div class="card-body p-4 p-sm-5">

          <div class="field form-group mb-3">
            <%= form.label :withdraw_amount %>
            <%= form.number_field :balance, step: :any, :min => 0.01, :class => "form-control" %>
          </div>

          <div class="actions d-grid mb-3 mt-4">
            <%= form.submit "withdraw balance", :class => "btn btn-primary btn-login text-uppercase fw-bold"%>
          </div>

        </div>
      </div>
    </section>
  </div>

<% end %>