<div class="card mx-auto mt-4 shadow-sm mb-5 bg-body rounded" style="width: 45rem;">
    <div class="card-header d-flex justify-content-evenly bg-dark text-light">
      <h4>Stocks</h4>
    </div>
    
    <div class="overflow-auto scroll" style="min-height: 20rem; max-height: 35rem;">
        <table class="mx-auto" style="width:90%;">
            <thead class="position-sticky top-0 bg-white">

                <tr >
                    <th class="p-2"></th>
                    <th class="p-2">Symbol</th>
                    <th class="p-2">Change</th>
                    <th class="p-2">Price</th>
                </tr>

            </thead>

            <tbody class="mt-3">
                <% @stocks.each_with_index do | stock, index | %>
                                
                    <tr class="card-effects ">
                        <td>
                            <%= index + 1%>
                        </td>
                                   
                        <td>
                            <%= link_to stock_path(stock.id), class: "btn btn-outline-light text-dark w-100 text-start fw-bold ps-2" do%>
                                <%= stock.symbol %>
                            <%end%>
                            <p class="text-dark" style="--bs-text-opacity: .65;">
                                <%= stock.corp_name%>
                            </p>
                        </td>
                        <td>
                            <% if stock.access_quote.change_percent_s.include? "-" %>
                                <p class="text-danger w-100 text-start ps-2 fw-bold" >
                                    <%= stock.access_quote.change_percent_s %>
                                </p>
                            <% else %>
                                <p class="text-success w-100 text-start ps-2 fw-bold" >
                                        <%= stock.access_quote.change_percent_s %>
                                </p>
                            <% end %>
                        </td>
                        <td>
                            <p class="text-dark w-100 text-start ps-2 fw-bold" >
                                <%= stock.access_quote.latest_price%>
                            </p>
                        </td>  
                    </tr>
                   
                <% end %>
            </tbody>         
        </table>        
    </div>
</div>
