<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="card p-0 mx-auto mt-5 shadow mb-5 bg-body rounded responsive-stock-show">
    <div class="card-header bg-dark text-center" style="--bs-bg-opacity: .75;">
        <h4 class="mt-2 fw-bold text-white text-monospace">
            <%= @stock.symbol %> 
        </h4> 
        <p class="text-white">
            <%= @stock.corp_name %>
        </p>
        <%if @stock.access_quote.change_percent_s.include? "+" %>
            <span class="badge bg-success rounded-pill p-2 position-absolute top-0 end-0 mt-3 me-3">
                <%= @stock.access_quote.change_percent_s %>
            </span> 
        <% else %>
            <span class="badge bg-danger rounded-pill p-2 position-absolute top-0 end-0 mt-3 me-3">
                <%= @stock.access_quote.change_percent_s %>
            </span> 
        <% end %>
    </div>
    <div class="card-body p-4 overflow-auto scroll" style="min-height: 20rem; max-height: 25rem;">
        <p style="text-align: justify; text-indent: 50px; font-size: 18px;">
            <%= @stock.corp_description %>
        </p>
        <div class="d-flex position-absolute bottom-0 mb-5 bg-white" style="width: 95%">
            <p class="card-title fw-bold">
                Latest Price:
            </p>
            <p class="fw-bold mx-2">
                <%= @stock.access_quote.latest_price%>
            </p>
            <p class="text-dark ps-3", style="--bs-text-opacity: 75;">
                <%= Time.now.strftime(" %B %d at %I:%M %p")%>
            </p>
        </div>
    </div>
    <div class="card-footer btn-group">

        <%= link_to 'Buy Stock', buy_portfolio_stock_path(:stocksymbol => @stock.symbol), class: "btn btn-success "%>
        <%= link_to 'Back', stocks_path, class: "btn btn-dark ms-3"%>
        
    </div>
</div>